<div ng-controller="PagingCtrl as $ctrl">

    <div class="panel panel-primary">

        <div class="panel-heading">SENARAI PENGGUNA</div>

        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Bil</th>
                            <th>Nama</th>
                            <th>Emel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pengguna in $ctrl.senaraiPengguna track by $index">
                            <td>{{$index + 1 + (($ctrl.currentPage - 1) * $ctrl.pagingInfoObj.totalRowPerPaging)}}</td>
                            <td>{{pengguna.nama}}</td>
                            <td>{{pengguna.emel}}</td>
                        </tr>
                        <tr ng-show="$ctrl.pagingInfoObj.totalRow===0">
                            <td colspan="3" align="center">-Tiada Rekod Ditemui-</td>
                        </tr>
                    </tbody>

                </table>
                <div ng-show="$ctrl.isLoading">
                    <center> Please Wait...</center>
                </div>
            </div>

        </div>


        <center>
            <span class="text-sm">Halaman: {{$ctrl.currentPage}} daripada {{$ctrl.numPages}}</span>
        </center>
        <center>
            <ul uib-pagination class="pagination pagination-sm" total-items="$ctrl.pagingInfoObj.totalRow" ng-model="$ctrl.currentPage"
                ng-change="$ctrl.pageChanged()" items-per-page="$ctrl.pagingInfoObj.totalRowPerPaging" max-size="10" num-pages="$ctrl.numPages"
                class="pagination-sm" boundary-link-numbers="true" rotate="true"></ul>
        </center>

    </div>


</div>